.product {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 1;
}

.product__parent {
    margin: 10px;
    padding: 20px;
    width: 20%;
    max-height: 400px;
    min-width: 200px;
    background-color: #ffffff;
}


.product__info {
    height: 100px;
    margin-bottom: 15px;
    padding: 5px;
}

.product__title {
    text-decoration: none;
    color: #111;
    font-size: 14px;
}

.product__price {
    margin-top: 5px;
}

.product__discountedPrice {
    margin-top: 5px;
}

.product__discountedPriceValue {
    color: #f54343;
}

.product__rating {
    margin-top: 5px;
}

.product .product__image {
    height: 200px;
    margin-top: 20px;
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}

.product__addToCartBtn {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: 50%;
    margin-left: 25%;
    outline: none;
    cursor: pointer;
}

.product__addToCartBtn:hover {
    background-color: #ffc940;
}